* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

:root {
    --gradient: linear-gradient(to right, #7406bd, #b6b5ffee);

}

.full {
    position: absolute;
    height: 200%;
    width: 100%;

}

.icon {
    background-image: url('https://cdn-icons.flaticon.com/png/512/5345/premium/5345639.png?token=exp=1636117558~hmac=4c137930438f9343f117b4a01581d9d1');
    animation: icon-movement linear 30s infinite;
    background-size: 350px;
    z-index: -2;
}

@keyframes icon-movement {
    0% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 229% -90%;
    }
}

.gradient {
    background: var(--gradient);
    opacity: 90%;
    z-index: -1;

}

#content {
    z-index: 1;
    padding: 100;
}

#content p {
    padding-top: 20px;
}